.detalhe-container {
  padding: 20px 10% 0;
}

@media all {
  .detalhe-header {
    height: 40vh;
    position: relative;
    color: #FFF;
  }
}

@media only screen and (min-width : 47em) {
  .detalhe-header {
    height: 50vh;
    position: relative;
    color: #FFF;
  }
}

.detalhe-header__title {
  bottom: 50px;
  left: 20px;
  position: absolute;
}

.detalhe-header__sub {
  bottom: 20px;
  left: 20px;
  position: absolute;
}